/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Navigation Bar */

.nav-bar {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  opacity: .8;
  padding: 0;
  margin-left: -8px;
  outline-color: white;  
  outline-style: outset;
  width: 100%;
  z-index: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-link {
  float: left;
  padding: 10px;
}

.nav-link a {
  display: block;
  color: gray;
  text-align: center;
  text-decoration: none;
}

.icon {
	height: 25px;
}


/* Search Bar */

input {
	height: 40px;
	font-size: 25px;
	margin-bottom: 10px
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

body {
	margin-bottom: 100px;
}


/* Load Spinner */

.loader {
	margin: auto;
  border: 16px solid lightgray;
  border-top: 16px solid gray;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
